In [2]:
import pandas as pd

#<h1>Manipulating DataFrames</h1>

Load the data into a DataFrame:

In [4]:
data = pd.read_csv('sales-funnel.csv')

View the column names:

In [6]:
data.columns

Index([u'Account', u'Name', u'Rep', u'Manager', u'Product', u'Quantity',
       u'Price', u'Status'],
      dtype='object')

# View the first/last 3 rows:

In [10]:
data.head(3)
data.tail(3)

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

View a few select rows:

In [12]:
data[10:13]

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented

View a few select columns:

In [15]:
data[['Account', 'Price']]

    Account   Price
0    714466   30000
1    714466   10000
2    714466    5000
3    737550   35000
4    146832   65000
5    218895   40000
6    218895   10000
7    412290    5000
8    740150   35000
9    141962   65000
10   163416   30000
11   239344    5000
12   239344   10000
13   307599    7000
14   688981  100000
15   729833   65000
16   729833    5000

Pull a column out and view as a Series:

In [17]:
type(data['Rep'])

pandas.core.series.Series

#Selecting data

View only rows that have Product = CPU:

In [18]:
data[data['Product'] == 'CPU']

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined

View accounts with a price less than $12,000:

In [19]:
data[data.Price < 12000]

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

View the maximum account price:

In [20]:
data.Price.max()

100000

Exercise: What is the minimum account price: The mean? The sum? The standard deviation?

What is the total dollar amount pending?

In [29]:
data[data.Status == 'pending'].Price.sum()

55000

How do we add columns?

In [37]:
data['extra'] = 'x'

Let's add a column called Amount that is equal to Quantity * Price

In [40]:
data['Amount'] = data['Quantity'] * data['Price']

Exercise: What is the total amount of all pending Maintenance sales?

In [47]:
mt_sales = data[data.Product == 'Maintenance']
pm_sames = mt_sales[mt_sales.Status == 'pending']
sum(pm_sames.Quantity * pm_sames.Price)

25000

,Account,Name,Rep,Manager,Product,Quantity,Price,Status,extra,Amount
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending,x,10000
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending,x,10000
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending,x,5000